<!-- Quick View -->
<div class="modal fade quick-view" id="quick-view" role="dialog">
    <div class="position-center-center" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="single-product-detail">
                <div class="row">
                    <!-- Form -->
                    <div class="form-holder">
                        <!-- Sending Form -->
                        <form class="sending-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" required="required" placeholder="Enter keyword">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn-1 shadow-0 sm">Search</button>
                                </div>
                            </div>
                        </form>
                        <!-- Sending Form -->

                    </div>
                    <!-- Form -->
                </div>
            </div>
            <!-- Single Product Detail -->

        </div>
    </div>
</div>
<!-- Quick View -->
