<section class="relative fix" id="sc3">
    <div class="container">
        <div class="space-50"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                <h2>Approve</h2>
                <div class="space-20"></div>
                <div class="title-bar blue">
                    <ul class="list-inline list-unstyled">
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 book-list-position padding60  ">
                <div class="book-list-photo">
                    <div class="book-list">
                        <div class="book_item">
                            <img src="images/book/book1.jpg" alt="library">
                        </div>
                        <div class="book_item">
                            <img src="images/book/book2.jpg" alt="library">
                        </div>
                        <div class="book_item">
                            <img src="images/book/book3.jpg" alt="library">
                        </div>
                        <div class="book_item">
                            <img src="images/book/book1.jpg" alt="library">
                        </div>
                        <div class="book_item">
                            <img src="images/book/book1.jpg" alt="library">
                        </div>
                        <div class="book_item">
                            <img src="images/book/book2.jpg" alt="library">
                        </div>
                        <div class="book_item">
                            <img src="images/book/book3.jpg" alt="library">
                        </div>
                        <div class="book_item">
                            <img src="images/book/book1.jpg" alt="library">
                        </div>
                    </div>
                </div>
                <div class="bookslide_nav">
                    <i class="icofont icofont-long-arrow-left testi_prev"></i>
                    <i class="icofont icofont-long-arrow-right testi_next"></i>
                </div>
            </div>
            <div class="col-xs-12 pull-right col-md-6 padding60 wow fadeInRight">
                <div class="book-content">
                    <div class="book-details-item">
                        <h4 class="tip-left">Title</h4>
                        <p class="lead">Smothered In Hugs</p>
                        <div class="space-10"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <h4 class="tip-left">Author</h4>
                                <div class="media">
                                    <div class="media-left">
                                        <img src="/images/user_default.png" class="media-object author-photo img-thumbnail" alt="library">
                                    </div>
                                    <div class="media-body">
                                        <h5>Ucly Man</h5>
                                        <p>23 Books Created</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h4>Page</h4>
                                <p>320 pages</p>
                            </div>
                        </div>
                        <div class="space-30"></div>
                        <h4 class="tip-left">Description</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla libero dui, pretium non tincidunt eget, mattis eu nunc. Aenean egestas nisi vel urna tempus aliquam. Etiam fringilla tempor risus. Nulla vitae elementum felis. Vestibulum ultricies feugiat est id ornare. Morbi non dapibus ante.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="relative" id="sc5">
    <div class="container">
        <div class="row event-list">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-9">
                <div class="event-item wow fadeInRight">
                    <h4 class="show tip-left">July 20,2017 <span class="">02.30 Am</span></h4>
                    <div class="well">
                        <div class="media">
                            <div class="media-left">
                                <img src="/images/user/icon_user_default.png" class="media-object  w-70-h-70" alt="library">
                            </div>
                            <div class="media-body">
                                <div class="space-10"></div>
                                <a href="books.html"><h4 class="media-heading">Name</h4></a>
                                <div class="space-10"></div>
                                <p>Manager</p>
                            </div>
                            <div class="media-body">
                                <a href="#" class="btn btn-primary hover-btn-primary">Approve<span><i class="icofont icofont-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-20"></div>
                <div class="event-item wow fadeInRight">
                    <h4 class="show tip-left">September 15, 2017 <span>08.30 Am</span></h4>
                    <div class="well">
                        <div class="media">
                            <div class="media-left">
                                <img src="/images/user/icon_user_default.png" class="media-object  w-70-h-70" alt="library">
                            </div>
                            <div class="media-body">
                                <div class="space-10"></div>
                                <a href="books.html"><h4 class="media-heading">Name</h4></a>
                                <div class="space-10"></div>
                                <p>Manager</p>
                            </div>
                            <div class="media-body">
                                <a href="#" class="btn btn-primary hover-btn-primary">Approve<span><i class="icofont icofont-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-20"></div>
            </div>
        </div>
    </div>
    <div class="space-100"></div>
</section>
