<!--Begin section-->
<section id="section">
	<div class="space-40"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
				<h2><strong>Waiting approve</strong></h2>
				<div class="title-bar blue">
					<ul class="list-inline list-unstyled">
						<li><i class="icofont icofont-square"></i></li>
						<li><i class="icofont icofont-square"></i></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="space-20"></div>
		<div class="row">
			<div class="col-xs-12 col-md-4 wow fadeInLeft" data-wow-delay="0.1s" data-wow-offset="50">
				<div class="category-item well yellow">
					<div class="media">
						<div class="media-left">
							<img src="/images/book_thumb_default.jpg" class="media-object">
						</div>
						<div class="media-body">
							<h5>Book title</h5>
							<h6>Author Framgia</h6>
							<div class="space-10"></div>
							<p>
                                Lorem
							</p>
							<a href="#" class="text-primary">View detail</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 wow fadeInLeft" data-wow-delay="0.1s" data-wow-offset="50">
				<div class="category-item well yellow">
					<div class="media">
						<div class="media-left">
							<img src="/images/book_thumb_default.jpg" class="media-object">
						</div>
						<div class="media-body">
							<h5>Book title</h5>
							<h6>Author Framgia</h6>
							<div class="space-10"></div>
							<p>
                                Lorem
							</p>
							<a href="#" class="text-primary">View detail</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 wow fadeInLeft" data-wow-delay="0.1s" data-wow-offset="50">
				<div class="category-item well yellow">
					<div class="media">
						<div class="media-left">
							<img src="/images/book_thumb_default.jpg" class="media-object">
						</div>
						<div class="media-body">
							<h5>Book title</h5>
							<h6>Author Framgia</h6>
							<div class="space-10"></div>
							<p>
                                Lorem
							</p>
							<a href="#" class="text-primary">View Users</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 wow fadeInLeft" data-wow-delay="0.1s" data-wow-offset="50">
				<div class="category-item well yellow">
					<div class="media">
						<div class="media-left">
							<img src="/images/book_thumb_default.jpg" class="media-object">
						</div>
						<div class="media-body">
							<h5>Book title</h5>
							<h6>Author Framgia</h6>
							<div class="space-10"></div>
							<p>
                                Lorem
							</p>
							<a href="#" class="text-primary">View detail</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 wow fadeInLeft" data-wow-delay="0.1s" data-wow-offset="50">
				<div class="category-item well yellow">
					<div class="media">
						<div class="media-left">
							<img src="/images/book_thumb_default.jpg" class="media-object">
						</div>
						<div class="media-body">
							<h5>Book title</h5>
							<h6>Author Framgia</h6>
							<div class="space-10"></div>
							<p>
                                Lorem
							</p>
							<a href="#" class="text-primary">View detail</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 wow fadeInLeft" data-wow-delay="0.1s" data-wow-offset="50">
				<div class="category-item well yellow">
					<div class="media">
						<div class="media-left">
							<img src="/images/book_thumb_default.jpg" class="media-object">
						</div>
						<div class="media-body">
							<h5>Book title</h5>
							<h6>Author Framgia</h6>
							<div class="space-10"></div>
							<p>
                                Lorem
							</p>
							<a href="#" class="text-primary">View Users</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-60"></div>
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="shop-pagination pull-right">
					<ul id="pagination-book" class="pagination-sm pagination">
						<li class="page-item first disabled">
							<a class="page-link" href="#"><i class="icofont icofont-double-left"></i></a>
						</li>
						<li class="page-item prev disabled">
							<a class="page-link" href="#"><i class="icofont icofont-simple-left"></i></a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">4</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">5</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">6</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">7</a>
						</li>
						<li class="page-item next">
							<a class="page-link" href="#"><i class="icofont icofont-simple-right"></i></a>
						</li>
						<li class="page-item last">
							<a class="page-link" href="#"><i class="icofont icofont-double-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End section-->
