var config = {
    port: 5000,
    web_domain: "book.framgia.vn",
    api_base_url: "http://api-book.framgia.vn/api/v0/",
    auth_server_base_url: "http://auth.framgia.vn/auth/hr_system/authorize",
    client_id: "YRsMngWe7ZLwuTFRkpVNUutE",
    client_secret: "06de87ccaad2e0104fec49157bb6352245649081b547e943ba23e0d378f2",
    auth_server_authorization_code_url: "http://auth.framgia.vn/auth/hr_system/access_token",
    url_sign_in_auth_server: "http://auth.framgia.vn/users/sign_in",
    book: {
        default_star: 5,
        title_limit_characters: 30,
        author_limit_characters: 20,
        status: {
            "unavailable": 0,
            "available": 1
        }
    },
    user: {
        category_name: 30
    },
    book_user: {
        status: {
            "waiting": 1,
            "reading": 2,
            "returning": 3,
            "returned": 4,
            "cancel_waiting": 5
        }
    }
};

module.exports = config;
