<footer class="black-bg text-white">
    <div class="space-20"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="#"><img src="/images/logo_framgia.png" alt="library" class="logo-image"><span class="logo-text">FBook</span></a>
                <div class="space-20"></div>
                <p>A new world of reading awaits</p>
                <ul class="list-inline list-unstyled social-list">
                    <li>
                        <a href="https://www.facebook.com/FramgiaVietnam" target="_blank">
                            <i class="icofont icofont-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/framgia-vietnam" target="_blank">
                            <i class="icofont icofont-brand-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled list-inline tip yellow">
                    <li><i class="icofont icofont-square"></i></li>
                    <li><i class="icofont icofont-square"></i></li>
                    <li><i class="icofont icofont-square"></i></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                <h4 class="text-white">Contact Us</h4>
                <table class="table border-none addr-dt">
                    <tr>
                        <td><i class="icofont icofont-social-google-map"></i></td>
                        <td><address>13F Keangnam Landmark 72 Tower, Plot E6, Pham Hung Road, Nam Tu Liem, Ha Noi, Viet Nam</address></td>
                    </tr>
                    <tr>
                        <td><i class="icofont icofont-email"></i></td>
                        <td>hr_team@framgia.com</td>
                    </tr>
                    <tr>
                        <td><i class="icofont icofont-phone"></i></td>
                        <td> 84-4-3795-5417</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                <h4 class="text-white">More Tools</h4>
                <ul class="list-unstyled menu-tip">
                    <li><a href="http://wsm.framgia.vn/" target="_blank">WSM</a></li>
                    <li><a href="http://crb.framgia.vn/" target="_blank">CRB</a></li>
                    <li><a href="http://poll.framgia.vn/" target="_blank">FPoll</a></li>
                    <li><a href="http://club.framgia.vn/" target="_blank">FClub</a></li>
                    <li><a href="http://survey.framgia.vn/" target="_blank">FSurvey</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
