<header class="relative" id="sc1">
    <!-- Header-background-markup -->
    <div class="header-bg relative home-slide">
        <div class="item">
            <img src="/images/slide/slide1.jpg" alt="library">
        </div>
        <div class="item">
            <img src="/images/slide/slide2.jpg" alt="library">
        </div>
        <div class="item">
            <img src="/images/slide/slide3.jpg" alt="library">
        </div>
        <div class="item">
            <img src="/images/slide/slide4.jpg" alt="library">
        </div>
    </div>
    <!-- Mainmenu-markup-start -->
    <div class="mainmenu-area navbar-fixed-top" data-spy="affix" data-offset-top="10">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <div class="space-10"></div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--Logo-->
                    <a href="/home" class="navbar-left show"><img src="/images/logo.png" alt="library"></a>
                    <div class="space-10"></div>
                </div>
                <!--Toggle-button-->

                <!--Active User-->
                <% if (typeof user.name !== 'undefined' && user.name) { %>
                    <div class="nav navbar-right">
                    <div class="active-user navbar-left active">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <% if (typeof user.avatar !== 'undefined' && user.avatar) { %>
                                        <img src="<%= user.avatar %>" class="img-circle img-thumbnail" alt="library" />
                                    <% }
                                    else { %>
                                        <img src="/images/user_default.png" class="img-circle img-thumbnail" alt="library" />
                                    <% } %>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#"> <span><i class="icofont icofont-user"></i></span> Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span><i class="icofont icofont-notification"></i></span> Notifications</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span><i class="icofont icofont-settings"></i></span> Settings</a>
                                    </li>
                                    <li>
                                        <a href="#"> <span><i class="icofont icofont-read-book"></i></span> My Books</a>
                                    </li>
                                    <li>
                                        <a href="/logout"> <span><i class="icofont icofont-logout"></i></span> Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <% } %>

                <!--Mainmenu list-->
                <div class="navbar-right in fade" id="mainmenu">
                    <ul class="nav navbar-nav nav-white text-uppercase">
                        <li class="active">
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="#sc2">About</a>
                        </li>
                        <li>
                            <a href="#sc4">Team</a>
                        </li>
                        <li>
                            <a href="#sc5">Event</a>
                        </li>
                        <li>
                            <a href="#sc6">Client</a>
                        </li>
                        <li>
                            <a href="books.html">Books</a>
                        </li>
                        <% if (typeof user.name !== 'undefined' && user.name) { %>
                            <li>
                                <a href="#"><%= user.name %></a>
                            </li>
                        <% }
                        else { %>
                            <li>
                                <a href="/login">Login with Framgia</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="space-100"></div>
    <!-- Mainmenu-markup-end -->
    <!-- Header-jumbotron -->
    <div class="space-100"></div>
    <div class="header-text">
        <% if (typeof info != 'undefined' && info != '') { %>
            <div class="col-md-4 col-md-offset-4 alert alert-success alert-dismissable fade in">
                <center> <strong> <%= info %> </strong> </center>
            </div>
        <% } %>
        <% if (typeof error != 'undefined' && error != '') { %>
            <div class="col-md-4 col-md-offset-4 alert alert-danger alert-dismissable fade in">
                <center> <strong> <%= error %> </strong> </center>
            </div>
        <% } %>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                    <div class="jumbotron">
                        <h1 class="text-white">More Than 458,948 Book Over Here</h1>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida, quam vitae
                            <br/> est Sed non eros elementum nulla sodales ullamcorper.</p>
                    </div>
                    <div class="title-bar white">
                        <ul class="list-inline list-unstyled">
                            <li><i class="icofont icofont-square"></i></li>
                            <li><i class="icofont icofont-square"></i></li>
                        </ul>
                    </div>
                    <div class="space-40"></div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
                    <div class="panel">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li><a data-toggle="tab" href="#book">Search Book</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="search-result col-md-12">
                                <label class="radio-inline"><input type="radio" name="type-search" value="title" checked="true">Title</label>
                                <label class="radio-inline"><input type="radio" name="type-search" value="author">Author</label>
                                <label class="radio-inline"><input type="radio" name="type-search" value="description">Description</label>
                            </div>
                            <div class="category-container col-md-12">
                                <input type="text" id="search-book"/>
                            </div>
                            <div class="search-result col-md-12">
                                <ul id="data-search"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-100"></div>
    <!-- Header-jumbotron-end -->
</header>
